<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
</head>
<body>

    <div class="container">
        <h1>Payment Successful!</h1>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Amount:</strong> {{ amount }}</p>
        <p><strong>Payment Method:</strong> {{ method }}</p>
    </div>

</body>
</html>




