<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/images/sea logo.jpg">
    <title>SEA</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="static/images/sea logo.jpg" alt="SEA Logo">
            </a>
        </div>
        <h1 class="header-title">SEA Organization</h1>
        <div class="donate-button">
            <a href="/donate">Donate Now</a>
        </div>
    </div>

    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="dropdown">
            <a href="#centers" class="dropbtn">Centers</a>
            <div class="dropdown-content">
                <a href="/center?id=1">Bangalore</a>
                <a href="/center?id=2">Chennai</a>
                <a href="/center?id=3">Hyderabad</a>
                <a href="/center?id=4">Cochin</a>
            </div>
        </div>
        <a href="#special-occasions">Special Occasions</a>
        <a href="#about-us">About Us</a>
        <a href="/halloffame">Top Donors</a>
        <a href="/login">Login</a>
    </div>

    <!-- Main Content -->
    <div class="main-image-container">
        <button class="arrow left-arrow" onclick="showPreviousImage()">&#10094;</button>
        <div class="image-slider">
            <img src="static/images/main image.jpeg" alt="Main Image" class="main-image">
            <img src="static/images/main image.jpeg" alt="Image 1" class="main-image">
            <img src="static/images/main image.jpeg" alt="Image 2" class="main-image">
        </div>
        <button class="arrow right-arrow" onclick="showNextImage()">&#10095;</button>
    </div>
    <div class="city-tables">
        {% for center in centers %}
            <div class="city-table">
                <!-- City Name -->
                <a href="/center?id={{center[0]}}" target="_blank">
                    <div class="city-name">{{ center[1] }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <!-- Static Maps Table -->
    <div class="maps-table">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d124381.43955375381!2d77.59375157934574!3d13.040764939895569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spl!4v1734177426010!5m2!1sen!2spl" 
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d260429.09583918337!2d80.24833859297757!3d13.107943723220943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spl!4v1734177716771!5m2!1sen!2spl" 
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243647.34241488852!2d78.24288623107343!3d17.412280731008362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana%2C%20India!5e0!3m2!1sen!2spl!4v1734177775419!5m2!1sen!2spl" 
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251482.5760967004!2d76.13577381773078!3d9.98251586020546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala%2C%20India!5e0!3m2!1sen!2spl!4v1734177818397!5m2!1sen!2spl" 
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    

    <!-- Footer -->
    <div class="footer">
        &copy; 2024. SEA private ltd. All rights reserved.
    </div>
    <script>
        const images = document.querySelectorAll('.main-image');
        const slider = document.querySelector('.image-slider');
        let currentIndex = 0;

        function showNextImage() {
            currentIndex = (currentIndex + 1) % images.length;
            updateSliderPosition();
        }

        function showPreviousImage() {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            updateSliderPosition();
        }

        function updateSliderPosition() {
            const offset = -currentIndex * 100;
            slider.style.transform = `translateX(${offset}%)`;
        }
    </script>
</body>
</html>
